@font-face {
  font-family: Font;
  src: url("./JetBrainsMono-Medium.ttf");
}
:root {
  --bg: #151515;
  --fg: #E8E3E3;
  --pr: #848379;
  --al: #63625B;
}
* {
  font-family: Font;
  text-align: left;
  text-decoration: none;
  color: var(--fg);
  margin: 0;
  transition: ease 1s;
  border: none;
}
body, div{
  display: grid;
}
body {
  margin: 2em;
  min-height: 90vh;
  background-color: var(--bg);
  grid-template-columns: 2fr 3fr;
}
div {
  grid-gap: 1em;
  align-content: center;
}
img {
  border-radius: 100%;
  align-self: center;
  justify-self: center;
  height: 20em;
}

h1, h2, a {
  color: var(--pr);
}
a:hover {
  color: var(--al);
}
button {
  border-radius: 100%;
  position: absolute;
  align-self: top;
  justify-self: right;
  padding: 1em;
  background-color: var(--al);
}
button:hover {
  background-color: var(--pr);
}
@media only screen and (max-width: 1000px) {
  body{
    grid-template-columns: 1fr;
  }
  img{
    display: none;
  }
}
