:root {
  --bg: #121212;
  --ab: #181818;
  --fg: #E8E3E3;
  --af: #747272;
}

@font-face {
  font-family: Font;
  src: url("./JetBrainsMono-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Font;
  transition: 0.5s ease;
  text-decoration: none;
  border-radius: 0.2em;
}

body {
  background-color: var(--bg);
  margin: 20vh 15vw;
}

h1 {
  text-align: center; 
}

h1, h3 {
  color: var(--fg);
}

p {
  color: var(--af);
}

section {
  display: grid;
  grid-gap: 2em;
}

.main {
  text-align: left;
  color: var(--fg);
  background-color: var(--bg);
}

/* Nav */
nav {
  text-align: center;
  grid-gap: 2em;
  padding: 1em 0;
  justify-content: center;
  align-content: center;
}

a {
  color: var(--af);
}

a:hover {
  color: var(--fg);
}

nav a {
  padding: 1em;
}

.active {
  color: var(--fg)
}

/* Projects */
.projects {
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.projects a {
  padding: 0;
  color: none;
}

div {
  display: grid;
  grid-gap: 0.5em;
  padding: 2em;
  background-color: var(--ab);
}

.socials {
  padding: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  body {
    margin: 10vh 10vw;
  }
  .projects {
    grid-template-columns: 1fr;
  } 
}
