@font-face {
  font-family: Font;
  src: url("./ShareTechMono-Regular.ttf");
}
:root {
  --bg: #151515;
  --gg: #151515;
  --fg: #E8E3E3;
  --pr: #8C977D;
  --al: #69715E;
}
*{
  font-family: Font;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: var(--fg);
  background-color: var(--bg);
  margin: 0;
  transition: ease .5s;
  border-radius: .25em;
}
body{
  margin: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 4fr 1fr;
  min-height: 95vh;
}
img{
  height: 7em;
  justify-self: center;
}
a{
  color: var(--pr);
}
a:hover {
  color: var(--al);
}
button{
  transform: scale(1);
  padding: 0.75em;
  justify-self: right;
  position: absolute;
  border-radius: 50%;
  border: solid 0.25em;
  border-color: var(--fg);
}
h1, h2{
  color: var(--pr);
}
p{
  color: var(--fg);
}
div{
  display: grid;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25);
  padding: 1em;
  grid-gap: 1em;
}
.card-deck{
  padding: 0;
  box-shadow: none;
  display: grid;
  grid-gap: 1em;
}
.card{
  padding: 1em;
  grid-gap: 1em;
  display: grid;
}
.card a{
  background-color: var(--pr);
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.25);
  padding: 1em;
  color: var(--gg);
}
.card a:hover{
  background-color: var(--al);
}
@media only screen and (max-width: 800px) {
  body{
    grid-template-columns: 1fr;
  }
}
